
:root {
	--font-sans-serif: helvetica, sans-serif;
	--font-serif: adobe-caslon-pro, serif;
	--gray-dark: #19111c;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
	max-width: 1963px;
	margin: 0 auto;
}

body {
	font-family: var(--font-serif); 
	color: var(--gray-dark);
	line-height: 23px;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: -.01em;
}

img {
	display: block;
	max-width: 100%;
}


.component__name {
	font-size: 24px;
	font-family: helvetica;
	padding-bottom: 5px;
	text-transform: uppercase;
	border-bottom: 1px solid;
}

.component img {
	max-width: initial;
}

.component__img {
	overflow-x: auto;
}

.component__code {
	margin-bottom: 10px;
}
h1 {
	font-family: campaign;
	text-align: center;
	font-size: 50px;
	padding-bottom: 20px;
}

h2 {
	font-size: 24px;
	font-family: helvetica;
	padding-bottom: .5rem;
	text-transform: uppercase;	
	text-align: center;
}


.component__name--sub-name {
	font-size: 24px;
	font-family: helvetica;
	padding-bottom: .5rem;
	text-transform: uppercase;
}

#h1 {
	font-family: campaign;
	font-weight: 600;
	color: black;
	font-size: 34px;
	letter-spacing: -.05em;
}

#h2 {
	font-family: pragmatica-condensed, sans-serif;
	font-weight: 700;
	line-height: 54px;
	color: black;
	font-size: 60px;
	letter-spacing: -.01em;
	text-transform: uppercase;
	max-width: 600px;
}

#article__synopsis {
	font-family: adobe-caslon-pro, serif; 
	font-size: 24px;
	line-height: 27px;
	color: #19111c;
	font-weight: 600;
	letter-spacing: -.01em;
	font-style: normal;
}

#h5 {
	font-family: helvetica, sans-serif; 
	font-size: 24px;
	line-height: 27px;
	color: #19111c;
	font-weight: 400;
	letter-spacing: -.01em;
}

#ul-title {
	text-transform: uppercase;
	font-family: "Helvetica Neue", Helvetica, sans;
	font-weight: 400;
	font-size: 11px;
	line-height: 13px;
	list-style: none;
}

#list-item {
	font-size: 18px;
	line-height: 23px;
	font-family: "Helvetica Neue", Helvetica, sans;
	font-weight: 400;
}


.wax-container {
	max-width: 1920px;
	background-color: #ecebe7;
	padding: 2.08333vw;
}

.mix-article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mix-left { 
  background: rgba(255, 255,255, 0.2); 
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  font-weight: 100%;
  border-right: 1px solid;
  padding-right: 20px;
}

.mix-center { 
  background: rgba(255, 255,255, 0.2); 
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  font-weight: 100%;
  border-right: 1px solid;
  padding-right: 20px;
}

.mix-right {
  background: rgba(255, 255,255, 0.2); 
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  font-weight: 100%;
  padding-right: 20px;
}
.mix-article__genre {
	font-family: "Helvetica Neue", Helvetica, sans;
	font-weight: 400;
	font-size: 15px;
	line-height: 15px;
	text-transform: uppercase;
}

.mix-article__image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h5 {
	font-family: "Helvetica Neue", Helvetica, sans;
	font-weight: 400;
	font-size: 24px;
	line-height: 27px;
	text-align: center;
	text-decoration: none;
	letter-spacing: -.01em;
}

.mix-article__name {
	text-align: center;
	text-decoration: none;
	color: #19111c;
}

.compiled-by {
	font-family: adobe-caslon-pro, times, serif; 
	font-weight: 400;
	font-size: 24px;
	line-height: 27px;
	text-align: center;
	color: #19111c;
	letter-spacing: -.01em;
	padding-bottom: 20px;
}


.button--outline {
	display: block;
	border: 1px solid #19111c;
	border-radius: 2.5rem;
	padding: 0.8rem 1rem;
	text-decoration: none;
	color: #19111c;
	margin: 0.5rem;
	background: transparent;
	color: var(--black);
	margin-left: auto;
	margin-right: auto;
	font-family: "Helvetica Neue", Helvetica, sans;
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	letter-spacing: -.01em;
	text-transform: uppercase;
}


