<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Wax Poetics | Components</title>
		<link href="css/normalize.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://use.typekit.net/edy4dnc.css">
		<link type="text/css" rel="stylesheet" href="../css/main.css">
	</head>


	<body>
		<div class="container">
		<h1>Web Components</h1>

		<h2> Typography</h2>
		<article class="component">
			<h3 class="component__name">Body</h3>
			<div class="component__img">
				<img 
				srcset="images/body.png 2x"
				src="images/body.png"
				alt="body copy"
				/>
			</div>
			<div class="component__code"> 
				<p>It was 1960’s Giant Steps that thoroughly and inexorably changed the saxophonist’s game going forward.</p> 
			</div>
		</article>

		<article class="component">
			<h3 class="component__name">Headings (h1,h2,h3...)</h3>

			<h4 class="component__name--sub-name">Heading (h1)</h4>
			<div class="component__img">
				<img 
				srcset="images/h1.png 2x"
				src="images/h1.png"
				alt="Wax Poetics"
				/>
			</div>
			<div class="component__code"> 
				<h1 class="site-name">WaxPoetics</p> 
			</div>

			<h4 class="component__name--sub-name">Heading (h2)</h4>
			<div class="component__img">
				<img 
				srcset="images/h2.png 2x"
				src="images/h2.png"
				alt="h2"
				/>
			</div>
			<div class="component__code"> 
				<p id="h2">Bounce, Rock, Skate, Roll</p> 
			</div>

			<h4 class="component__name--sub-name">Heading (h4)</h4>
			<div class="component__img">
				<img 
				srcset="images/h4.png 2x"
				src="images/h4.png"
				alt="h4"
				/>
			</div>
			<div class="component__code"> 
				<p id="article__synopsis">John Coltrane’s evolutionary jump on the 1960 masterpiece <em>Giant Steps</em></p> 
			</div>

			<h4 class="component__name--sub-name">Heading (h5)</h4>
			<div class="component__img">
				<img 
				srcset="images/h5.png 2x"
				src="images/h5.png"
				alt="h5"
				/>
			</div>
			<div class="component__code"> 
				<p id="h5">Steppin' Heavy Mix Series #1: Boogie Bangers</p> 
			</div>
		</article>

		<article class="component">
			<h3 class="component__name">Links</h3>
			<h4 class="component__name--sub-name">ul title</h4>
			<div class="component__img">
				<img 
				srcset="images/footer__ul--title.png 2x"
				src="images/footer__ul--title.png"
				alt="Channels"
				/>
			</div>
			<div class="component__code"> 
				<p id="ul-title">Chanels</p> 
			</div>
			<h4 class="component__name--sub-name">li</h4>
			<div class="component__img">
				<img 
				srcset="images/footer__li.png 2x"
				src="images/footer__li.png"
				alt="Features"
				/>
			</div>
			<div class="component__code"> 
				<p id="list-item">Features</p> 
			</div>
		</article>

		<h2>Sections</h2>

		<article class="component">
			<h3 class="component__name">Main Header</h3>
			<div class="component__img">
				<img 
				srcset="images/main-header.png 2x"
				src="images/main-header.png"
				alt="Main Header"
				/>
			</div>

				<div class="component__code"> 
					 <div class="wax-container"> 
						 <header class="main-header">
							<nav class="eyebrow-menu">
								<a href="#!">Explore Channels</a>
							</nav>

							<h1 class="site-name">WaxPoetics</h1>

							<nav class="secondary-eyebrow">
								<ul class="nav-list">
									<li><a href="#!">In Print</a></li>
									<li><a href="#!">Subscribe</a></li>
									<li><a href="#!">About</a></li>
									<li><a href="#!">Account</a></li>
									<li><a href="#!">Search</a></li>
								</ul>
							</nav>
				        </div>
				    </header>
			</div>
			
		</article>

		<article class="component">
			<h3 class="component__name">Page Title</h3>
			<div class="component__img">
				<img 
				srcset="images/page-title.png 2x"
				src="images/page-title.png"
				alt="Page Title"
				/>
			</div>
			<div class="component__code"> 
				<div class="page-titles">
					<p class="strong-eyebrow">Drag left & right to navigate channels</p>
					<ul class="page-titles__names">
						<li class="page-titles__name">Listen</li>
					</ul>
					<p>All of our mixes, playlists, and podcasts in one place.</p>
			</div>
		</article>

		<article class="component">
			<h3 class="component__name">Filters Eyebrow</h3>
			<div class="component__img">
				<img 
				srcset="images/filters-eyebrow.png 2x"
				src="images/filters-eyebrow.png"
				alt="Filters Eyebrow"
				/>
			</div>
			<div class="component__code"> 
					<div class="wax-container">
					<hr>
					<section class="eyebrow">

					<article class="total">
							<p>37 Mixes</p>
					</article>
					<article class="genre">
							<button class="button--outline">Genre</button>
						</article>
					<article class="sort-by">
							<p>Sort By Recomended</p>
					</article>
					</div>
			</div>
		</article>

		<article class="component">
			<h3 class="component__name">Mix Grid</h3>
			<div class="component__img">
				<img 
				srcset="images/mix-grid.png 2x"
				src="images/mix-grid.png"
				alt="Wax Poetics Mix Grid"
				/>
			</div>
			<div class="component__code"> 
				<div class="wax-container">
					<hr>
					<section class="mix-article">

						<article class="mix-left">
							<div class="mix-article__tag">
								<p class="mix-article__genre">Podcast</p>
							</div>
						
							<figure class="mix-article__image">
								<img
								srcset="images/podcast-episode-1.png"
								src="images/podcast-episode-1.png"
								alt="Wax-Poetics-Episode-01">
							</figure>

							<div class="mix-article__content">
								<h5><a class="mix-article__name" href="#!">The Wax Poetics Podcast</a></h5>
								<h4 class="compiled-by">Induce</h4>
								<button class="button--outline">Read Article</button>
							</div>	
						</article>

						<article class="mix-center">
							<div class="mix-article__tag">
								<p class="mix-article__genre">Soul</p>
							</div>
						
							<figure class="mix-article__image">
								<img
								srcset="images/boogie-bangers-1.png"
								src="images/boogie-bangers-1.png"
								alt="Steppin' Heavy Mix Series #1: Boogie Bangers">
							</figure>

							<div class="mix-article__content">
								<h5><a class="mix-article__name" href="#!">Steppin' Heavy Mix Series #1: Boogie Bangers</a></h5>
								<h4 class="compiled-by">Induce</h4>
								<button class="button--outline">Read Article</button>
							</div>	
						</article>

						<article class="mix-right">
							<div class="mix-article__tag">
								<p class="mix-article__genre">Soul</p>
							</div>
						
							<figure class="mix-article__image">
								<img
								srcset="images/electro-freaks-2.png"
								src="images/electro-freaks-2.png"
								alt="Steppin' Heavy Mix Series #2: Electro Freaks">
							</figure>

							<div class="mix-article__content">
								<h5><a class="mix-article__name" href="#!">Steppin' Heavy Mix Series #2: Electro Freaks</a></h5>
								<h4 class="compiled-by">Induce</h4>
								<button class="button--outline">Read Article</button>
							</div>	
						</article>
					</section>
					<hr>
				</div>

				<article class="component">
					<h3 class="component__name">Main-Footer</h3>
					<div class="component__img">
						<img 
						srcset="images/main-footer.png 2x"
						src="images/main-footer.png"
						alt="Main Footer"
						/>
					</div>
					<div class="component__code"> 
						<footer class="main-footer">
						</footer>
					</div>
				</article>
			</div>
		</div>
	</body>
	

</html>