<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Wax Poetics | Components</title>
		<link href="css/normalize.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://use.typekit.net/edy4dnc.css">
		<link type="text/css" rel="stylesheet" href="../css/main.css">
	</head>

	<body>
		<h1>Web components go here</h1>
		<h2> Typography Defaults</h2>
		
		<article class="component">
			<h3 class="component__name">Body</h3>
			<div class="component__img">
				<img 
				srcset="images/body.png 2x"
				src="images/body.png"
				alt="body copy"
				/>
			</div>
			<div class="component__code"> 
				<p>It was 1960’s Giant Steps that thoroughly and inexorably changed the saxophonist’s game going forward.</p> 
			</div>
		</article>

		<article class="component">
			<h3 class="component__name">Headings (h1,h2,h3...)</h3>
			<h4 class="component__name--sub-name">h2</h4>
			<div class="component__img">
				<img 
				srcset="images/h2.png 2x"
				src="images/h2.png"
				alt="h2"
				/>
			</div>
			<div class="component__code"> 
				<p>Bounce, Rock, Skate, Roll</p> 
			</div>
			<h4 class="component__name--sub-name">h4</h4>
			<div class="component__img">
				<img 
				srcset="images/h4.png 2x"
				src="images/h4.png"
				alt="h4"
				/>
			</div>
			<div class="component__code"> 
				<h4>John Coltrane’s evolutionary jump on the 1960 masterpiece Giant Steps</ph4> 
			</div>
			<h4 class="component__name--sub-name">h5</h4>
			<div class="component__img">
				<img 
				srcset="images/h5.png 2x"
				src="images/h5.png"
				alt="h5"
				/>
			</div>
			<div class="component__code"> 
				<p>John Coltrane’s evolutionary jump on the 1960 masterpiece Giant Steps</p> 
			</div>
		</article>

		<article class="component">
			<h3 class="component__name">Lists</h3>
			<h4 class="component__name--sub-name">ul title</h4>
			<div class="component__img">
				<img 
				srcset="images/footer__ul--title.png 2x"
				src="images/footer__ul--title.png"
				alt="Channels"
				/>
			</div>
			<div class="component__code"> 
				<p>Chanels</p> 
			</div>
			<h4 class="component__name--sub-name">li</h4>
			<div class="component__img">
				<img 
				srcset="images/footer__li.png 2x"
				src="images/footer__li.png"
				alt="Features"
				/>
			</div>
			<div class="component__code"> 
				<p>Features</p> 
			</div>
		</article>

	</body>
</html>